@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');

::selection{
    background-color: #ffffff1a;
}

body{
    background: var(--bg-color);
    font: 400 1em 'Inter';
    overflow: hidden;
}

a{
    color: var(--link-color);
}

header{
    height: 34px;
    background: var(--header-color);
    border-bottom: 1px solid var(--border-color);
    padding: 4px;
    box-sizing: border-box;
    gap: 4px;
    scrollbar-color: var(--scrollbar-color) #0000;
}

.icon-button, .toned-button, .status-button{
    background: var(--icon-button-icon-size);
    color: var(--tone-text-color);
    display: inline-flex;
    border: unset;
    border-radius: 5px;
    box-sizing: border-box;
    cursor: pointer;
    gap: 8px;
    min-height: 22px;
    outline: none !important;
    padding: 3px 4px;
    place-content: center;
    place-items: center;
    position: relative;
    font: 400 0.75em/1.15 'Inter';
    text-overflow: ellipsis;
    text-wrap: nowrap;
    user-select: none;
}

.icon-button{
    background-image: var(--icon-image);
    aspect-ratio: 1/1;
    font-size: 0;
}

.status-button{
    background-color: var(--status-bg-color);
}

.status-button.icon-button{
    background-image: var(--icon-image);
}

.icon-button.active{
    background-image: var(--icon-image-active);
}

.icon-button:hover, .toned-button:hover,
.icon-button:focus, .toned-button:focus,
.status-button:hover{
    background-color: var(--header-button-hover);
}

main{
    flex-grow: 1;
    height: auto;
    width: 100%;
    --maxsize: 100%;
    max-height: calc(var(--maxsize) - 34px);

    @supports (width: 100vh){
        --maxsize: 100vh;
    }
    
    @supports (width: 100dvh){
        --maxsize: 100dvh;
    }
}

textarea{
    background: var(--input-bg-color);
    outline: unset !important;
    border: unset;
    padding: 12px;
    box-sizing: border-box;
    color: var(--regular-text-color);
    caret-color: var(--regular-text-color);
    font: 400 0.875em/1.15 'JetBrains Mono';
    height: 100%;
    scrollbar-color: var(--scrollbar-color) #0000;

    @media screen and (orientation: landscape) {
        border-right: 1px solid var(--border-color);
    }
    
    @media screen and (orientation: portrait) {
        border-top: 1px solid var(--border-color);
    }
}

textarea:focus-visible{
    background: var(--input-focus-color);
    scrollbar-color: var(--scrollbar-hover-color) #0000;
}

body.duowindow textarea{
    border: 0 !important;
}

output{
    display: flex;
    border: 1px solid var(--output-border-color);
    padding: 16px;
    box-sizing: border-box;
    color: var(--regular-text-color);
    height: 100%;
    overflow: auto;
    scrollbar-color: var(--scrollbar-color) #0000;
}

output>span.katex {
    margin: auto;
}

.katex-html a:focus-visible {
    background: var(--header-button-hover);
    outline-color: var(--link-color);
}

output :is(
    #fox-open-file,
    #fox-save-file,
    #fox-rename-file,
    #fox-print,
    #fox-docs,
    #fox-duowindow
) {
    display: inline-block;
    vertical-align: middle;
    background: var(--icon-image);
    width: var(--icon-size);
    height: var(--icon-size);
}

:root{
    --bg-color: #000;
    --border-color: #292929;
    --regular-text-color: #fff;
    --link-color: #1f6feb;
    --header-color: #050b09;
    --tone-text-color: #fff;
    --header-button-hover: #ffffff1a;
    --scrollbar-color: #1c1e20;
    --scrollbar-hover-color: #212326;
    --input-focus-color: #0b1211;
    --icon-size: 16px;
    --icon-button-icon-size: center / var(--icon-size) no-repeat;
}

#fox-toggle-fullscreen {
    --icon-image: url("./icons/amoled/collapse-all.svg");
}

#fox-toggle-fullscreen.active {
    --icon-image-active: url("./icons/amoled/expand-all.svg");
}

#fox-open-file{
    --icon-image: url("./icons/amoled/new-file.svg");
}

#fox-save-file{
    --icon-image: url("./icons/amoled/save.svg");
}

#fox-rename-file{
    --icon-image: url("./icons/amoled/rename.svg");
}

#fox-print{
    --icon-image: url("./icons/amoled/file-pdf.svg");
}

#fox-duowindow{
    --icon-image: url("./icons/amoled/link-external.svg");
    --icon-image-active: url("./icons/amoled/close.svg");
}

#fox-docs{
    --icon-image: url("./icons/amoled/book.svg");
}

#fox-change-theme{
    --icon-image: url("./icons/amoled/symbol-color.svg");
}