@import url('./md3base.css');

:root{
    --bg-color: #141314;
    --regular-text-color: #e2e0fb;
    --header-color: #211f21;
    --link-color: #9f86ff;
    --tone-bg-color:#553f5d00;
    --tone-text-color: #f7d8ff;
    --tone-bg-color-hover: #553f5d80;
    --status-bg-color: #2e2c2e00;
    --status-bg-color-hover: #2e2c2e;
    --status-active-bg-color: #45455a;
    --status-active-bg-color-hover: #4f4f63;
    --input-bg-color: #553f5d40;
    --input-bg-color-hover: #45455a5e;
    --input-bottom-border-color: #e2e0fb80;
    --input-bg-color-focus: #5e5d6f8a;
    --output-border-color: #4d4256;
    --icon-button-icon-size-60: center / 60% no-repeat;
}

.status-button.icon-button#toggle-fullscreen {
    --button-icon: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' height='24px' viewBox='0 -960 960 960' width='24px' fill='%23e2e0fb'%3E%3Cpath d='M120-120v-320h80v184l504-504H520v-80h320v320h-80v-184L256-200h184v80H120Z'/%3E%3C/svg%3E") var(--icon-button-icon-size-60);
}

.status-button.icon-button.active#toggle-fullscreen {
    --active-button-icon: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' height='24px' viewBox='0 -960 960 960' width='24px' fill='%23e2e0fb'%3E%3Cpath d='m136-80-56-56 264-264H160v-80h320v320h-80v-184L136-80Zm344-400v-320h80v184l264-264 56 56-264 264h184v80H480Z'/%3E%3C/svg%3E") var(--icon-button-icon-size-60);
}

.icon-button#open-file{
    --button-icon: url("./icons/md3dark/file_open_24dp_E2E0FB_FILL0_wght400_GRAD0_opsz24.svg") var(--icon-button-icon-size-60);
}

.icon-button#save-file{
    --button-icon: url("./icons/md3dark/save_24dp_E2E0FB_FILL0_wght400_GRAD0_opsz24.svg") var(--icon-button-icon-size-60);
}

.icon-button#print{
    --button-icon: url("./icons/md3dark/print_24dp_E2E0FB_FILL0_wght400_GRAD0_opsz24.svg") var(--icon-button-icon-size-60);
}

.icon-button#help{
    --button-icon: url("./icons/md3dark/developer_guide_24dp_E2E0FB_FILL0_wght400_GRAD0_opsz24.svg") var(--icon-button-icon-size-60);
}