@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Roboto:wght@100;300;400;500;700;900&display=swap');

body{
    background: #141314;
    font: 400 1em 'Roboto';
    overflow: hidden;
}

header{
    height: 64px;
    background: #211f21;
    justify-content: space-between;
    padding: 8px 12px;
    box-sizing: border-box;
}

header a{
    color: #e6e1e3;
    position: relative;
}

header a:after {
    content: '';
    position: absolute;
    height: 75%;
    aspect-ratio: 1/1;
    margin: 2.5% 0;
    background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' height='24px' viewBox='0 -960 960 960' width='24px' fill='%23e6e1e3'%3E%3Cpath d='m256-240-56-56 384-384H240v-80h480v480h-80v-344L256-240Z'/%3E%3C/svg%3E") center / 100% no-repeat;
}

header button{
    background: #553f5d00;
    color: #f7d8ff;
    display: inline-flex;
    border: unset;
    border-radius: 9999px;
    box-sizing: border-box;
    cursor: pointer;
    gap: 8px;
    min-height: 40px;
    outline: none !important;
    padding: 11px 16px;
    place-content: center;
    place-items: center;
    position: relative;
    font: 400 1em/1.15 'Roboto';
    text-overflow: ellipsis;
    text-wrap: nowrap;
    user-select: none;
}

header button:hover{
    background: #553f5d80;
}

button#fullscreen {
    margin-left: auto;
    aspect-ratio: 1/1;
    margin-right: 8px;
    background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' height='24px' viewBox='0 -960 960 960' width='24px' fill='%23e2e0fb'%3E%3Cpath d='M120-120v-320h80v184l504-504H520v-80h320v320h-80v-184L256-200h184v80H120Z'/%3E%3C/svg%3E") center / 50% no-repeat;
}

button#fullscreen:hover{
    background-color: #2e2c2e;
}

body.fullscreen button#fullscreen {
    background: #45455a url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' height='24px' viewBox='0 -960 960 960' width='24px' fill='%23e2e0fb'%3E%3Cpath d='m136-80-56-56 264-264H160v-80h320v320h-80v-184L136-80Zm344-400v-320h80v184l264-264 56 56-264 264h184v80H480Z'/%3E%3C/svg%3E") center / 50% no-repeat;
}

body.fullscreen button#fullscreen:hover{
    background-color: #4f4f63;
}

main{
    flex-grow: 1;
    height: auto;
    width: calc(100% - 16px);
    margin: 8px;
    gap: 8px;
}

@supports (width: 100vw){
    main{
        max-height: calc(100vh - 80px);
    }
}

@supports (width: 100dvw){
    main{
        max-height: calc(100dvh - 80px);
    }
}

textarea{
    background: #553f5d40;
    outline: unset !important;
    border: unset;
    border-bottom: 1px solid #e2e0fb80;
    border-radius: 8px 8px 0 0;
    padding: 24px 16px;
    box-sizing: border-box;
    color: #e2e0fb;
    caret-color: #e2e0fb;
    font: 400 1em/1.15 'Roboto Mono';
    max-height: calc(100vh - 80px);
}

textarea:hover {
    background: #45455a5e;
}

textarea:focus-visible{
    background: #5e5d6f8a;
    border-bottom-width: 3px;
}

output{
    display: flex;
    border: 1px solid #4d4256;
    padding: 32px;
    box-sizing: border-box;
    color: #e2e0fb;
    border-radius: 22px;
    max-height: calc(100vh - 80px);
    overflow: auto;
}

output>span.katex {
    margin: auto;
}
