@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');

dialog#fox-settings div.themes button.theme-preview#amoled{
    opacity: 0.5;
    pointer-events: none;
    user-select: none;
}

::selection{
    background-color: #ffffff1a;
}

body{
    background: var(--bg-color);
    font: 400 1em 'Inter';
    overflow: hidden;
}

a{
    color: var(--link-color);
}

button.active-button{
    background: royalblue;
    color: var(--tone-text-color);
    display: inline-flex;
    border: unset;
    border-radius: 2px;
    box-sizing: border-box;
    cursor: pointer;
    gap: 8px;
    min-height: 22px;
    outline: none !important;
    padding: 3px 4px;
    place-content: center;
    place-items: center;
    position: relative;
    font: 400 0.75em/1.15 'Inter';
    text-overflow: ellipsis;
    text-wrap: nowrap;
    user-select: none;
}

header{
    height: 34px;
    background: var(--header-color);
    border-bottom: 1px solid var(--border-color);
    padding: 4px;
    box-sizing: border-box;
    gap: 4px;
    scrollbar-color: var(--scrollbar-color) #0000;
}

.icon-button, .toned-button, .status-button{
    background: var(--icon-button-icon-size);
    color: var(--tone-text-color);
    display: inline-flex;
    border: unset;
    border-radius: 5px;
    box-sizing: border-box;
    cursor: pointer;
    gap: 8px;
    min-height: 22px;
    outline: none !important;
    padding: 3px 4px;
    place-content: center;
    place-items: center;
    position: relative;
    font: 400 0.75em/1.15 'Inter';
    text-overflow: ellipsis;
    text-wrap: nowrap;
    user-select: none;
}

.icon-button{
    background-image: var(--icon-image);
    aspect-ratio: 1/1;
    font-size: 0;
}

.status-button{
    background-color: var(--status-bg-color);
}

.status-button.icon-button{
    background-image: var(--icon-image);
}

.icon-button.active{
    background-image: var(--icon-image-active);
}

.icon-button:hover, .toned-button:hover,
.icon-button:focus, .toned-button:focus,
.status-button:hover{
    background-color: var(--header-button-hover);
}

main{
    flex-grow: 1;
    height: auto;
    width: 100%;
    --maxsize: 100%;
    max-height: calc(var(--maxsize) - 34px);

    @supports (width: 100vh){
        --maxsize: 100vh;
    }
    
    @supports (width: 100dvh){
        --maxsize: 100dvh;
    }
}

textarea{
    background: var(--input-bg-color);
    outline: unset !important;
    border: unset;
    padding: 12px;
    box-sizing: border-box;
    color: var(--regular-text-color);
    caret-color: var(--regular-text-color);
    font: 400 0.875em/1.15 'JetBrains Mono';
    height: 100%;
    scrollbar-color: var(--scrollbar-color) #0000;
}

textarea:focus-visible{
    background: var(--input-focus-color);
    scrollbar-color: var(--scrollbar-hover-color) #0000;
}

body.duowindow textarea{
    border: 0 !important;
}

output{
    display: flex;
    padding: 16px;
    box-sizing: border-box;
    color: var(--regular-text-color);
    height: 100%;
    overflow: auto;
    scrollbar-color: var(--scrollbar-color) #0000;

    @media screen and (orientation: landscape) {
        border-left: 1px solid var(--border-color);
    }
    
    @media screen and (orientation: portrait) {
        border-bottom: 1px solid var(--border-color);
    }
}

output>span.katex {
    margin: auto;
}

.katex-html a:focus-visible {
    background: var(--header-button-hover);
    outline-color: var(--link-color);
}

output :is(
    #fox-open-file,
    #fox-save-file,
    #fox-rename-file,
    #fox-print,
    #fox-docs,
    #fox-duowindow
) {
    display: inline-block;
    vertical-align: middle;
    background: var(--icon-image);
    width: var(--icon-size);
    height: var(--icon-size);
}

dialog[open] {
    border: 0;
    background: var(--bg-color);
    padding: 12px;
    width: fit-content;
    max-width: unset;
    border: 1px solid var(--border-color)
}

::backdrop {
    background: #00000040;
    backdrop-filter: blur(1px);
}

dialog legend{
    font-weight: bold;
}

dialog :is(label, legend){
    color: var(--regular-text-color);
    user-select: none;
}

dialog input[type="checkbox"] {
    accent-color: royalblue;
}

dialog input[type="text"] {
    border: 1px solid var(--border-color);
    background: var(--input-bg-color);
    caret-color: var(--regular-text-color);
    color: var(--regular-text-color);
    padding: 5px 8px;
}

dialog input[type="text"]:hover {
    background: var(--input-bg-color-hover);
}

dialog input[type="text"]:focus{
    outline: 1px solid var(--input-bottom-border-color);
}

dialog textarea{
    border: 1px solid var(--border-color);
}

dialog[open]#fox-filename{
    display: flex;
    flex-flow: column wrap;
    gap: 16px;
    width: 320px;
}

dialog[open]#fox-settings{
    display: flex;
    flex-flow: row wrap;
    gap: 8px;
    max-width: 962px;
    box-sizing: border-box;
}

dialog > button.active-button{
    margin: 0 auto;
    height: fit-content;
    padding: 8px 12px;
}

dialog#fox-settings > div{
    display: flex;
    flex-flow: column nowrap;
    gap: 8px;
}

dialog#fox-settings div.options{
    display: flex;
    flex-flow: column nowrap;
    gap: 8px;
    height: 100%;
    & textarea{
        flex-grow: 1;
        width: 400px;
    }
}

dialog#fox-settings div.prefs legend{
    margin-block-end: 8px;
}

dialog#fox-settings div.themes {
    display: grid;
    grid-template-columns: 260px 260px;
    gap: 8px;
}

dialog#fox-settings div.themes legend {
    grid-column: 1/3;
}

dialog#fox-settings div.themes button.theme-preview {
    aspect-ratio: 48/32;
    background: var(--image) center/cover no-repeat;
    border: 0;
    color: #0000;
    cursor: pointer;
    user-select: none;
}

:root{
    --bg-color: #000;
    --border-color: #292929;
    --regular-text-color: #fff;
    --link-color: #1f6feb;
    --header-color: #050b09;
    --tone-text-color: #fff;
    --header-button-hover: #ffffff1a;
    --scrollbar-color: #1c1e20;
    --scrollbar-hover-color: #212326;
    --input-focus-color: #0b1211;
    --icon-size: 16px;
    --icon-button-icon-size: center / var(--icon-size) no-repeat;
}

#fox-toggle-fullscreen {
    --icon-image: url("../icons/amoled/collapse-all.svg");
}

#fox-toggle-fullscreen.active {
    --icon-image-active: url("../icons/amoled/expand-all.svg");
}

#fox-open-file{
    --icon-image: url("../icons/amoled/new-file.svg");
}

#fox-fetch-file{
    --icon-image: url("../icons/amoled/cloud_download.svg");
}

#fox-save-file{
    --icon-image: url("../icons/amoled/save.svg");
}

#fox-rename-file{
    --icon-image: url("../icons/amoled/rename.svg");
}

#fox-print{
    --icon-image: url("../icons/amoled/file-pdf.svg");
}

#fox-duowindow{
    --icon-image: url("../icons/amoled/link-external.svg");
    --icon-image-active: url("../icons/amoled/close.svg");
}

#fox-docs{
    --icon-image: url("../icons/amoled/book.svg");
}

#fox-settings-button{
    --icon-image: url("../icons/amoled/gear.svg");
}