@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Roboto:wght@100;300;400;500;700;900&display=swap');

:root{
    --icon-size: 24px;
    --h-icon-size: center / var(--icon-size) no-repeat;
}

body{
    background: var(--bg-color);
    font: 400 1em 'Roboto';
    overflow: hidden;
    outline-color: var(--outline-color);
}

a{
    color: var(--link-color);
}

button.active-button{
    background: var(--tone-bg-color-hover);
    color: var(--tone-text-color);
    display: inline-flex;
    border: unset;
    border-radius: 9999px;
    box-sizing: border-box;
    cursor: pointer;
    gap: 8px;
    min-height: 40px;
    width: fit-content;
    padding: 11px 16px;
    place-content: center;
    place-items: center;
    position: relative;
    font: 400 1em/1.15 'Roboto';
    text-overflow: ellipsis;
    text-wrap: nowrap;
    user-select: none;
    &:hover{
        background-color: var(--status-active-bg-color-hover);
    }
}

header{
    height: 64px;
    background: var(--header-color);
    padding: 8px 12px;
    box-sizing: border-box;
    gap: 8px;
    scrollbar-color: var(--input-bottom-border-color) var(--header-color);
}

.icon-button, .toned-button, .status-button{
    background: var(--tone-bg-color);
    color: var(--tone-text-color);
    display: inline-flex;
    border: unset;
    border-radius: 9999px;
    box-sizing: border-box;
    cursor: pointer;
    gap: 8px;
    min-height: 40px;
    padding: 11px 16px;
    place-content: center;
    place-items: center;
    position: relative;
    font: 400 1em/1.15 'Roboto';
    text-overflow: ellipsis;
    text-wrap: nowrap;
    user-select: none;
}

.icon-button{
    background: var(--icon-image);
    aspect-ratio: 1/1;
    font-size: 0;
}

.status-button{
    background: var(--status-bg-color);
}

.status-button.icon-button{
    background: var(--icon-image);
}

.icon-button.active{
    background: var(--icon-image-active);
}

.icon-button:hover, .toned-button:hover{
    background-color: var(--tone-bg-color-hover);
}

.icon-button:focus-visible, .toned-button:focus-visible{
    outline: 2px solid var(--outline-color);
}

.status-button{
    background-color: var(--status-bg-color);
}

.status-button:hover{
    background-color: var(--status-bg-color-hover);
}

.status-button.active{
    background-color: var(--status-active-bg-color);
}

.status-button.active:hover{
    background-color: var(--status-active-bg-color-hover);
}

main{
    flex-grow: 1;
    height: auto;
    width: calc(100% - 16px);
    margin: 8px;
    gap: 8px;
    --maxsize: 100%;
    max-height: calc(var(--maxsize) - 80px);

    @supports (width: 100vh){
        --maxsize: 100vh;
    }
    
    @supports (width: 100dvh){
        --maxsize: 100dvh;
    }
}

textarea{
    background: var(--input-bg-color);
    outline: unset !important;
    border: unset;
    border-bottom: 1px solid var(--input-bottom-border-color);
    border-radius: 8px 8px 0 0;
    padding: 24px 16px;
    box-sizing: border-box;
    color: var(--regular-text-color);
    caret-color: var(--regular-text-color);
    font: 400 1em/1.15 'Roboto Mono';
    scrollbar-color: var(--input-bottom-border-color) var(--input-bg-color);
}

textarea:hover {
    background: var(--input-bg-color-hover);
}

textarea:focus-visible{
    background: var(--input-bg-color-focus);
    border-bottom-width: 3px;
}

output{
    display: flex;
    border: 1px solid var(--output-border-color);
    padding: 32px;
    box-sizing: border-box;
    color: var(--regular-text-color);
    border-radius: 22px;
    overflow: auto;
    scrollbar-color: var(--input-bottom-border-color) #0000;
}

output>span.katex {
    margin: auto;
}

.katex-html a:focus-visible {
    background: var(--output-border-color);
    outline-color: var(--outline-color);
}

output :is(
    #fox-open-file,
    #fox-save-file,
    #fox-rename-file,
    #fox-print,
    #fox-docs,
    #fox-duowindow
) {
    display: inline-block;
    vertical-align: bottom;
    background: var(--icon-image);
    width: var(--icon-size);
    height: var(--icon-size);
}

dialog[open] {
    border: 0;
    border-radius: 1.25em;
    background: var(--bg-color);
    padding: 1.25em;
    width: fit-content;
    max-width: unset;
}

::backdrop {
    background: #322F3740;
}

dialog legend{
    font-weight: bold;
}

dialog :is(label, legend){
    color: var(--regular-text-color);
    user-select: none;
}

dialog input[type="text"] {
    height: 36px;
    border-radius: 3px;
    border: 1px solid var(--input-bottom-border-color);
    background: var(--input-bg-color);
    caret-color: var(--regular-text-color);
    color: var(--regular-text-color);
    padding: 0 8px;
}

dialog input[type="text"]:hover {
    background: var(--input-bg-color-hover);
}

dialog input[type="text"]:focus{
    outline: 1px solid var(--input-bottom-border-color);
}

dialog[open]#fox-filename{
    display: flex;
    flex-flow: column wrap;
    gap: 16px;
    width: 320px;
}

dialog[open]#fox-settings{
    display: flex;
    flex-flow: row wrap;
    gap: 8px;
}

dialog > button.active-button{
    width: 100%;
    margin-right: -80px;
}

dialog#fox-settings > div{
    display: flex;
    flex-flow: column nowrap;
    gap: 8px;
}

dialog#fox-settings div.options{
    display: flex;
    flex-flow: column wrap;
    gap: 8px;
    height: 100%;
    & textarea{
        flex-grow: 1;
        width: min(400px, calc(100vw - 55px));
        min-height: 200px;
        height: auto;
    }
}

dialog#fox-settings div.themes {
    display: grid;
    grid-template-columns: 260px 260px;
    gap: 8px;
    @media (max-width: 583px){
        grid-template-columns: 260px;
    }
}

dialog#fox-settings div.themes button.theme-preview {
    aspect-ratio: 48/32;
    background: var(--image) center/cover no-repeat;
    border: 0;
    color: #0000;
    cursor: pointer;
    user-select: none;
}

@media (min-width: 584px){
    dialog#fox-settings div.themes legend {
        grid-column: 1/3;
    }
}