@import url('./md3base.css');

:root{
    --bg-color: #141314;
    --outline-color: #e6e1e3;
    --regular-text-color: #e2e0fb;
    --header-color: #211f21;
    --link-color: #9f86ff;
    --tone-bg-color:#553f5d00;
    --tone-text-color: #f7d8ff;
    --tone-bg-color-hover: #553f5d80;
    --status-bg-color: #2e2c2e00;
    --status-bg-color-hover: #2e2c2e;
    --status-active-bg-color: #45455a;
    --status-active-bg-color-hover: #4f4f63;
    --input-bg-color: #553f5d40;
    --input-bg-color-hover: #45455a5e;
    --input-bottom-border-color: #e2e0fb80;
    --input-bg-color-focus: #5e5d6f8a;
    --output-border-color: #4d4256;
}

#fox-toggle-fullscreen {
    --icon-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' height='24px' viewBox='0 -960 960 960' width='24px' fill='%23e2e0fb'%3E%3Cpath d='M120-120v-320h80v184l504-504H520v-80h320v320h-80v-184L256-200h184v80H120Z'/%3E%3C/svg%3E") var(--h-icon-size);
}

#fox-toggle-fullscreen.active {
    --icon-image-active: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' height='24px' viewBox='0 -960 960 960' width='24px' fill='%23e2e0fb'%3E%3Cpath d='m136-80-56-56 264-264H160v-80h320v320h-80v-184L136-80Zm344-400v-320h80v184l264-264 56 56-264 264h184v80H480Z'/%3E%3C/svg%3E") var(--h-icon-size);
}

#fox-open-file{
    --icon-image: url("../icons/md3dark/file_open_24dp_E2E0FB_FILL0_wght400_GRAD0_opsz24.svg") var(--h-icon-size);
}

#fox-save-file{
    --icon-image: url("../icons/md3dark/save_24dp_E2E0FB_FILL0_wght400_GRAD0_opsz24.svg") var(--h-icon-size);
}

#fox-rename-file{
    --icon-image: url("../icons/md3dark/edit_24dp_E2E0FB_FILL0_wght400_GRAD0_opsz24.svg") var(--h-icon-size);
}

#fox-print{
    --icon-image: url("../icons/md3dark/print_24dp_E2E0FB_FILL0_wght400_GRAD0_opsz24.svg") var(--h-icon-size);
}

#fox-docs{
    --icon-image: url("../icons/md3dark/developer_guide_24dp_E2E0FB_FILL0_wght400_GRAD0_opsz24.svg") var(--h-icon-size);
}

#fox-duowindow{
    --icon-image: url("../icons/md3dark/open_in_new_24dp_E2E0FB_FILL0_wght400_GRAD0_opsz24.svg") var(--h-icon-size);
    --icon-image-active: url("../icons/md3dark/open_in_new_24dp_E2E0FB_FILL0_wght400_GRAD0_opsz24.svg") var(--h-icon-size);
}

#fox-change-theme{
    --icon-image: url("../icons/md3dark/palette_24dp_E2E0FB_FILL0_wght400_GRAD0_opsz24.svg") var(--h-icon-size);
}