@import url('./md3base.css');

button.theme-preview#md3dark{
    opacity: 0.5;
    pointer-events: none;
}

:root{
    --bg-color: #141314;
    --outline-color: #e6e1e3;
    --regular-text-color: #e2e0fb;
    --header-color: #211f21;
    --link-color: #9f86ff;
    --tone-bg-color:#553f5d00;
    --tone-text-color: #f7d8ff;
    --tone-bg-color-hover: #553f5d80;
    --status-bg-color: #2e2c2e00;
    --status-bg-color-hover: #2e2c2e;
    --status-active-bg-color: #45455a;
    --status-active-bg-color-hover: #4f4f63;
    --input-bg-color: #553f5d40;
    --input-bg-color-hover: #45455a5e;
    --input-bottom-border-color: #e2e0fb80;
    --input-bg-color-focus: #5e5d6f8a;
    --output-border-color: #4d4256;
}

#fox-toggle-fullscreen {
    --icon-image: url("../icons/md3dark/fullscreen.svg") var(--h-icon-size);
}

#fox-toggle-fullscreen.active {
    --icon-image-active: url("../icons/md3dark/collapse.svg") var(--h-icon-size);
}

#fox-open-file{
    --icon-image: url("../icons/md3dark/file_open.svg") var(--h-icon-size);
}

#fox-save-file{
    --icon-image: url("../icons/md3dark/save.svg") var(--h-icon-size);
}

#fox-rename-file{
    --icon-image: url("../icons/md3dark/edit.svg") var(--h-icon-size);
}

#fox-print{
    --icon-image: url("../icons/md3dark/print.svg") var(--h-icon-size);
}

#fox-docs{
    --icon-image: url("../icons/md3dark/developer_guide.svg") var(--h-icon-size);
}

#fox-duowindow{
    --icon-image: url("../icons/md3dark/open_in_new.svg") var(--h-icon-size);
    --icon-image-active: url("../icons/md3dark/open_in_new.svg") var(--h-icon-size);
}

#fox-settings-button{
    --icon-image: url("../icons/md3dark/settings.svg") var(--h-icon-size);
}