@import url('./md3base.css');

button.theme-preview#md3light{
    opacity: 0.5;
    pointer-events: none;
}

:root{
    --bg-color: #fefbff;
    --outline-color: #1c1b1d;
    --regular-text-color: #4d4256;
    --header-color: #f2ecee;
    --link-color: #6442d6;
    --tone-bg-color:#f1d3f900;
    --tone-text-color: #1c1b1d;
    --tone-bg-color-hover: #f1d3f99f;
    --status-bg-color: #dcdaf500;
    --status-bg-color-hover: #dcdaf5;
    --status-active-bg-color: #4d425614;
    --status-active-bg-color-hover: #d1cee9;
    --input-bg-color: #f8f1f680;
    --input-bg-color-hover: #f8f1f6;
    --input-bottom-border-color: #4d425680;
    --input-bg-color-focus: #dcdaf5;
    --output-border-color: #e8e0e8;
}

#fox-toggle-fullscreen {
    --icon-image: url("../icons/md3light/fullscreen.svg") var(--h-icon-size);
}

#fox-toggle-fullscreen.active {
    --icon-image-active: url("../icons/md3light/collapse.svg") var(--h-icon-size);
}

#fox-open-file{
    --icon-image: url("../icons/md3light/file_open.svg") var(--h-icon-size);
}

#fox-fetch-file{
    --icon-image: url("../icons/md3light/cloud_download.svg") var(--h-icon-size);
}

#fox-save-file{
    --icon-image: url("../icons/md3light/save.svg") var(--h-icon-size);
}

#fox-rename-file{
    --icon-image: url("../icons/md3light/edit.svg") var(--h-icon-size);
}

#fox-print{
    --icon-image: url("../icons/md3light/print.svg") var(--h-icon-size);
}

#fox-docs{
    --icon-image: url("../icons/md3light/developer_guide.svg") var(--h-icon-size);
}

#fox-duowindow{
    --icon-image: url("../icons/md3light/open_in_new.svg") var(--h-icon-size);
    --icon-image-active: url("../icons/md3light/open_in_new.svg") var(--h-icon-size);
}

#fox-settings-button{
    --icon-image: url("../icons/md3light/settings.svg") var(--h-icon-size);
}