@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Mono:ital,wght@0,400;0,700;1,400;1,700&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

dialog#fox-settings div.themes button.theme-preview#mint{
    opacity: 0.5;
    pointer-events: none;
    user-select: none;
}

::selection{
    background-color: #68c174;
    color: #fff;
}

html, body{
    background: #383838;
    overflow: hidden;
    --icon-size: 16px;
    --h-icon-size: center / var(--icon-size) no-repeat;
}

a {
    color: #68c174;
}

button.active-button{
    background: #404040;
    border: 1px solid #292929;
    border-radius: 3px;
    padding: 10px 16px;
    font: 400 0.75em "Ubuntu";
    color: #d5d5d5;
    &:is(:hover, :focus-visible){
        background: #525252;
        outline: 0;
    }
}

header{
    background: #2b2b2b;
    border-bottom: 1px solid #212121;
    height: 41px;
    padding: 8px 10px;
    box-sizing: border-box;
    gap: 4px;
}

header button{
    background: #2b2b2b center / 15px no-repeat;
    border: 1px solid #2b2b2b;
    padding: 0.5em;
    border-radius: 3px;
    font: 400 0.75em "Ubuntu";
    color: #d5d5d5;
}

.icon-button {
    width: 27px !important;
    height: 27px !important;
    aspect-ratio: 1 / 1;
    font-size: 0;
    background: var(--icon-image) var(--h-icon-size);
}

#fox-open-file {
    --icon-image: url("../icons/mint/document-open.svg") ;
}

#fox-save-file {
    --icon-size: 24px;
    --h-icon-size: center / var(--icon-size) no-repeat;
    --icon-image: url("../icons/mint/document-save.svg");
}

#fox-rename-file {
    --icon-image: url("../icons/mint/rename.svg");
}

#fox-print {
    --icon-image: url("../icons/mint/printer-printing-symbolic.svg");
}

#fox-docs {
    --icon-image: url("../icons/mint/help-about.svg");
    border-radius: 50%;
}

header #fox-docs:hover,
header #fox-docs:focus {
    background: #68c174;
    mask: var(--icon-image) var(--h-icon-size);
}

#fox-duowindow {
    --icon-image: url("../icons/mint/sidewindow.svg");
}

#fox-toggle-fullscreen {
    --icon-image: url("data:image/svg+xml,%3Csvg width='16px' height='16px' viewBox='0 0 16 16' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%23dadada'%3E%3Cpath d='m7 15c0-0.55078-0.44922-1-1-1h-4v-4c0-0.55078-0.44922-1-1-1-0.55469 0-1 0.44922-1 1v5c0 0.55469 0.44531 1 1 1h5c0.55078 0 1-0.44531 1-1z'/%3E%3Cpath d='m7.5 9.5c0-0.26562-0.10547-0.51953-0.29297-0.70703-0.39062-0.39062-1.0234-0.39062-1.4141 0l-5.5 5.5c-0.1875 0.1875-0.29297 0.44141-0.29297 0.70703s0.10547 0.51953 0.29297 0.70703c0.39062 0.39062 1.0234 0.39062 1.4141 0l5.5-5.5c0.1875-0.1875 0.29297-0.44141 0.29297-0.70703z'/%3E%3Cpath d='m0 15h1v1h-1z'/%3E%3Cpath d='m0 9h1v1h-1z'/%3E%3Cpath d='m6 15h1v1h-1z'/%3E%3Cpath d='m9 1c0 0.55078 0.44922 1 1 1h4v4c0 0.55078 0.44922 1 1 1 0.55469 0 1-0.44922 1-1v-5c0-0.55469-0.44531-1-1-1h-5c-0.55078 0-1 0.44531-1 1z'/%3E%3Cpath d='m8.5 6.5c0 0.26562 0.10547 0.51953 0.29297 0.70703 0.39062 0.39062 1.0234 0.39062 1.4141 0l5.5-5.5c0.1875-0.1875 0.29297-0.44141 0.29297-0.70703s-0.10547-0.51953-0.29297-0.70703c-0.39062-0.39063-1.0234-0.39063-1.4141 0l-5.5 5.5c-0.1875 0.1875-0.29297 0.44141-0.29297 0.70703z'/%3E%3Cpath d='m16 1h-1v-1h1z'/%3E%3Cpath d='m16 7h-1v-1h1z'/%3E%3Cpath d='m10 1h-1v-1h1z'/%3E%3C/g%3E%3C/svg%3E");
    --icon-size: 14px;
}

#fox-toggle-fullscreen.active {
    --icon-image: url("data:image/svg+xml,%3Csvg width='16px' height='16px' viewBox='0 0 16 16' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%23dadada'%3E%3Cpath d='m1 9c0 0.55078 0.44922 1 1 1h4v4c0 0.55078 0.44922 1 1 1 0.55469 0 1-0.44922 1-1v-5c0-0.55469-0.44531-1-1-1h-5c-0.55078 0-1 0.44531-1 1z'/%3E%3Cpath d='m0.5 14.5c0 0.26562 0.10547 0.51953 0.29297 0.70703 0.39062 0.39062 1.0234 0.39062 1.4141 0l5.5-5.5c0.1875-0.1875 0.29297-0.44141 0.29297-0.70703s-0.10547-0.51953-0.29297-0.70703c-0.39062-0.39062-1.0234-0.39062-1.4141 0l-5.5 5.5c-0.1875 0.1875-0.29297 0.44141-0.29297 0.70703z'/%3E%3Cpath d='m8 9h-1v-1h1z'/%3E%3Cpath d='m8 15h-1v-1h1z'/%3E%3Cpath d='m2 9h-1v-1h1z'/%3E%3Cpath d='m15 7c0-0.55078-0.44922-1-1-1h-4v-4c0-0.55078-0.44922-1-1-1s-1 0.44922-1 1v5c0 0.55078 0.44922 1 1 1h5c0.55078 0 1-0.44922 1-1z'/%3E%3Cpath d='m15.5 1.5c0-0.26562-0.10547-0.51953-0.29297-0.70703-0.39062-0.39062-1.0234-0.39062-1.4141 0l-5.5 5.5c-0.1875 0.1875-0.29297 0.44141-0.29297 0.70703s0.10547 0.51953 0.29297 0.70703c0.39062 0.39062 1.0234 0.39062 1.4141 0l5.5-5.5c0.1875-0.1875 0.29297-0.44141 0.29297-0.70703z'/%3E%3Cpath d='m8 7h1v1h-1z'/%3E%3Cpath d='m8 1h1v1h-1z'/%3E%3Cpath d='m14 7h1v1h-1z'/%3E%3C/g%3E%3C/svg%3E");
    --icon-size: 14px;
}

#fox-settings-button{
    --icon-image: url("../icons/mint/settings.svg");
}

header button:hover {
    background-color: #414141;
    border-color: #1f1f1f;
}

header button:active:hover, header button.status-button.active{
    background-color: #252525;
    border-color: #1f1f1f;
}

header button:focus:not(:hover){
    outline: 1px dashed #606060;
    outline-offset: -3px;
}

main{
    height: calc(100% - 61px);
    width: calc(100% - 20px);
    margin: 10px;
    gap: 10px;
}

textarea {
    background: #414141;
    border: 1px solid #202020;
    border-radius: 2px;
    caret-color: #35a854;
    color: #fff;
    font: 400 1em "Ubuntu Mono";
    margin: 0;
    padding: 12px;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    overflow: auto;
}

textarea:focus-visible {
    outline: unset;
    border-color: #35a854;
}

output{
    display: flex;
    background: #515151;
    border: 1px solid #202020;
    margin: 0;
    padding: 12px;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    color: #fff;
    overflow: auto;
}

output>span.katex {
    margin: auto;
}

.katex-html a:focus-visible {
    background: #68c174;
    color: #fff;
    outline: 1px solid #202020;
}

output :is(
    #fox-open-file,
    #fox-save-file,
    #fox-rename-file,
    #fox-print,
    #fox-docs,
    #fox-duowindow
) {
    display: inline-block;
    width: var(--icon-size);
    height: var(--icon-size);
    background: var(--icon-image);
    vertical-align: middle;
}

output #fox-save-file {
    --icon-size: 16px;
    background-position: center;
}

dialog{
    background: #2f2f2f;
    border: 1px solid #202020;
    padding: 20px 25px;
    border-radius: 2px;
    color: #e2e2e2;
    opacity: 0;
    max-width: calc(100vw - 25px * 2 - 1px * 2);
}

::backdrop{
    background: radial-gradient(#00000000, #000000e6 80%);
}

dialog legend{
    font-weight: bold;
}

dialog :is(label, legend){
    color: var(--regular-text-color);
    user-select: none;
}

input[type="checkbox"]{
    accent-color: #35a854;
    &:focus-visible{
        outline: 1px dashed #35a854;
    }
}

input[type="text"] {
    background: #414141;
    border: 1px solid #202020;
    border-radius: 2px;
    caret-color: #35a854;
    color: #e2e2e2;
    font: 400 1em "Ubuntu";
    margin: 0;
    padding: 8px;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    overflow: auto;
}

input[type="text"]:focus-visible {
    outline: unset;
    border-color: #35a854;
}

dialog[open]#fox-filename{
    display: flex;
    flex-flow: column nowrap;
    gap: 18px;
    padding: 18px;
    width: 348px;
    text-align: center;
    opacity: 1;
}

dialog[open]#fox-settings{
    display: flex;
    flex-flow: row wrap;
    gap: 18px;
    opacity: 1;
}

dialog#fox-settings legend{
    margin-block-end: 8px;
    &:not(:first-child){
        margin-block-start: 8px;
    }
}

dialog#fox-settings button.active-button{
    width: 100%;
}

dialog#fox-settings > div{
    display: flex;
    flex-flow: column nowrap;
    gap: 9px;
    &:last-of-type{
        flex-grow: 1;
    }
}

dialog#fox-settings div.options{
    display: flex;
    flex-flow: column wrap;
    height: 100%;
    & textarea{
        flex-grow: 1;
        min-width: 294px;
        width: 100%;
        min-height: 120px;
        height: auto;
    }
}

dialog#fox-settings div.themes {
    display: grid;
    grid-template-columns: 260px 260px;
    gap: 6px;
    @media (max-width: 577px){
        grid-template-columns: 260px;
    }
}

dialog#fox-settings div.themes button.theme-preview {
    aspect-ratio: 48/32;
    background: var(--image) center/cover no-repeat;
    border: 0;
    color: #0000;
    user-select: none;
    outline: 1px solid #202020;
    &:is(:hover, :focus-visible){
        outline: 2px solid #35a854;
    }
}

@media (min-width: 578px){
    dialog#fox-settings div.themes legend {
        grid-column: 1/3;
    }
}

@supports (scrollbar-color: auto){
    * {
        scrollbar-color: #777 #3d3d3d;
    }
    @supports selector(::-webkit-scrollbar){
        * {
            scrollbar-color: auto !important;
            scrollbar-width: unset !important;
        }
    }
}

@supports selector(::-webkit-scrollbar) {
    ::-webkit-scrollbar {
        width: 12px;
        height: 12px;
    }
    
    ::-webkit-scrollbar-track {
        background: #3d3d3d;
        cursor: default;
    }
    
    ::-webkit-scrollbar-thumb {
        height: 6px !important;
        width: 6px;
        margin: 2px;
        background: #777 content-box;
        border-radius: 6px;
        border: 3px solid #fff0;
        cursor: default;
    }

    ::-webkit-scrollbar-thumb:active{
        cursor: grabbing;
    }
    
    ::-webkit-scrollbar-thumb:hover {
        background-color: #676767;
    }
    
    ::-webkit-scrollbar-corner {
        background-color: #3d3d3d;
    }
}
