html{
    scrollbar-color: #4d425680 #0000;
}

body {
    background-color: #fefbff;
    color: #4d4256;
    padding: 32px;
    scrollbar-color: #4d425680 #0000;
}

a {
    color: #6442d6;
}

:focus-visible {
    background: #e8e0e8;
    outline-color: #6442d6;
}